body, html {
    overflow-x: hidden;
    overflow-y: hidden;
}

@keyframes gradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
  }
  

  
  #myBtn:hover {
    background: #ddd;
    color: black;
  }
/*    text-align:center;
    color:  white;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    margin-top: 0;
    padding-top: 20px;
    position: fixed;
    font-weight: bold;;
    opacity: 0.5;
    */
h1 {
    position: fixed;
    right: 0;
    top: 0;
    transform: translateX(47%) translateY(-18%);
    font-size: 120px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.5;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, blue, lightblue, rgb(0, 225, 255), rgb(42, 247, 185) );
    background-size: 150% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 3s ease infinite;
}
h1, #chatbox, #inputArea {
    position: relative;
    z-index: 1;
}

#chatbox, #inputArea {
    background: rgba(255, 255, 255, 1); /* White background with full opacity */
}


#chatbox {
    width: 45%;
    height: 88%;
    border: 1px solid #ddd;
    padding: 10px;
    overflow: auto;
    margin-bottom: 10px;
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    position: fixed;
    bottom: 50px; /* Adjust this value based on the height of your input area */ /* Adjust this value based on the height of your input area */
    overflow: auto;
    opacity: 0.6;
    background-image: url('aibistro.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}

.chat-entry {
    margin-bottom: 10px;
    
}

.chat-entry p {
    margin: 0;
    padding: 5px;
    border-radius: 5px;
    color: rgba(0, 0, 0, 1);
}

.user-entry {
    text-align: right;
}

.user-entry p {
    background-color: #01080f;
    color: white;
    color: rgba(255, 255, 255, 1);
}

.ai-entry p {
    background-color: #eee;
}

#inputArea {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background: rgba(255, 255, 255, 1); /* Adjust opacity as needed */
    /* Rest of your styles... */
    opacity: 0.6;
}
#userInput {
    width: 90%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button {
    width: 8%;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #01050a;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #030a10;
}